#div1 
{
	width:70px;
	height:70px;
	padding:10px;
	border:1px solid #aaaaaa;
}

#table2 
{
	padding:10px;
	border:5px solid #aaaaaa;
}

#table1
{
	padding:10px;
	border:5px solid #aaaaaa;
}

#img1 {
	/*que se acomoden al tamaño del padre (inherit)*/
}

.img2
{
	/*centrarlo al medio*/
	/*conservar tamaño original*/
	text-align: center;
	vertical-align: middle;
}

#td1
{
	width:75px;
	height:75px;
	border:1px solid #aaaaaa;
	text-align: center;
}

#td2 {
	width:75px;
	height:75px;
	border:3px solid #aaaaaa;
	text-align: center;
}

body {
	background-color: black;
}

.body-container {
	background-image: url("/Images/granit_texture.jpg");
	padding:10px;
	border:10px solid #aaaaaa;
}

.wrapper {
    width: 330px;
    margin:0 auto;
}
.gameboard {

    /*display: block;*/
    width: 33%;
    float: left;
    border:3px solid white;
    z-index: 1; /*EStos son una mierda*/
}
.gameboard div {
    margin: 2px;
    width:75px;
	height:75px;
	border:5px solid #aaaaaa;
	padding: 5px;
    display: inline-block;
}

.middle {
    border: 1px solid;
}

.button {
    background-color:white;
    width: 160px;
    margin:0 auto;
}

.updown {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.leftright {
    border-left: 1px solid;
    border-right: 1px solid;
}

.table-container {
	overflow: auto;
	background-image: url("Images/granit_texture.jpg");
	margin: 5px;
	padding: 10px;
	border: 5px solid #bbaabb;
}

.label-stats {
	color: white;
}